body {
    background-color: #9C835F;
}

nav {
    padding: 15px;
}

nav > p {
    display: inline-block;
}

nav > img {
    margin: 0 10px;
}

#title, .row > p, .box > p {
    font-weight: bold;
}

#title {
    color: #F9B23D;
}

.row > img {
    padding: 30px 60px;
}

.container {
    max-width: 800px;
}

.box {
    display: none;
    width: 250px;
    height: 150px;
    background-color: #035B0C;
    position: absolute;
    top: 250px;
    right: 0;
    left: 0;
    margin: 0 auto;
    rotate: -30deg;
    border-radius: 20px;
}

.box > p {
    font-size: 30px;
    color: white;
    text-align: center;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#refresh {
    padding-top: 0;
}
